extends layout

block content
  h1= title

  h3 Stylesheet
  a(href="/css/0/0/style.css") /css/&lt;delay&gt;?/&lt;size&gt;?/&lt;name&gt;.css
  p
    code &lt;delay&gt;
    span : response time in seconds [default: 0 sec]
  p
    code &lt;size&gt;
    span : size of document in kilo-bytes [default: minimal script]
  p
    code &lt;name&gt;
    span : name for the resource to identify easily in the developer-tools network waterfall

  h3 Javascript
  a(href="/javascript/0/0/0/script.js") /javascript/&lt;delay&gt;?/&lt;size&gt;?/&lt;time&gt;?/&lt;name&gt;.js
  p
    code &lt;delay&gt;
    span : response time in seconds [default: 0 sec]
  p
    code &lt;size&gt;
    span : size of document in kilo-bytes [default: minimal script]
  p
    code &lt;time&gt;
    span : runtime of the script when running in the browser in seconds [default: 0 sec]
  p
    code &lt;name&gt;
    span : name for the resource to identify easily in the developer-tools network waterfall

  h3 Image
  a(href="/image/0/200/200/ff0000.png") /image/&lt;delay&gt;?/&lt;width&gt;?/&lt;height&gt;?/&lt;color&gt;.png
  p
    code &lt;delay&gt;
    span : response time in seconds [default: 0 sec]
  p
    code &lt;width&gt;
    span : width of the image in pixel
  p
    code &lt;height&gt;
    span : height of the image in pixel
  p
    code &lt;color&gt;
    span : hex-color code of the image (without #)
