extends layout

block content
  h1= title

  h3 Stylesheet
  a(href="/css/0/0/style.css") /css/&lt;delay&gt;?/&lt;size&gt;?/&lt;name&gt;.css
  button.copy copy
  p
    code &lt;delay&gt;
    span : response time in seconds [default: 0 sec]
  p
    code &lt;size&gt;
    span : size of document in kilo-bytes [default: minimal script]
  p
    code &lt;name&gt;
    span : name for the resource to identify easily in the developer-tools network waterfall

  h3 Javascript
  a(href="/javascript/0/0/0/script.js") /javascript/&lt;delay&gt;?/&lt;size&gt;?/&lt;time&gt;?/&lt;name&gt;.js
  button.copy copy
  p
    code &lt;delay&gt;
    span : response time in seconds [default: 0 sec]
  p
    code &lt;size&gt;
    span : size of document in kilo-bytes [default: minimal script]
  p
    code &lt;time&gt;
    span : blocking runtime of the script when running in the browser in seconds [default: 0 sec]
  p
    code &lt;name&gt;
    span : name for the resource to identify easily in the developer-tools network waterfall

  h3 Image
  a(href="/image/0/200/200/ff0000.png") /image/&lt;delay&gt;?/&lt;width&gt;?/&lt;height&gt;?/&lt;color&gt;.png
  button.copy copy
  p
    code &lt;delay&gt;
    span : response time in seconds [default: 0 sec]
  p
    code &lt;width&gt;
    span : width of the image in pixel
  p
    code &lt;height&gt;
    span : height of the image in pixel
  p
    code &lt;color&gt;
    span : hex-color code (rgba) of the image (without #)

  h3 QR-Code Image
  a(href="/qr/0/referer.png") /qr/&lt;delay&gt;?/&lt;content|request-header&gt;.png
  button.copy copy
  p
    code &lt;delay&gt;
    span : response time in seconds [default: 0 sec]
  p
    code &lt;content&gt;
    span : content of the QR-Code
  p
    code &lt;request-header&gt;
    span : request header as content of the QR-code (for example: "referer")

  h3 Single Point of Failure (SPOF)
  a(href="/spof") /spof
  button.copy copy

  h3 JSON
  a(href="/json/0/0/ip.json") /json/&lt;delay&gt;?/&lt;size&gt;?/&lt;name&gt;.json
  button.copy copy
  p
    code &lt;delay&gt;
    span : response time in seconds [default: 0 sec]
  p
    code &lt;size&gt;
    span : size of document in kilo-bytes [default: minimal script]
  p
    code &lt;name&gt;
    span : name for the resource to identify easily in the developer-tools network waterfall

